.header--container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #add8e6 0%, #00008b 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow effect */
    padding: 25px;
    height: 120px;
    width: 100vw; /* Use viewport width */
    box-sizing: border-box; /* Include padding in the element's width */
    overflow: hidden; /* Prevent any potential overflow */
}

.header--title {
    color: whitesmoke;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0 15px; /* Adjust margins to bring titles closer to the logo */
}

.header--logo {
    width: 120px;
    transition: transform 0.3s ease; /* Apply transition to the default state */
}

.header--logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
